@page "/cards"
<PageTitle>Cards</PageTitle>
<div style="position:relative; top:80px;">
    <Animate Animation="Animations.FadeIn" DurationMs="1000">
        <h1>Cards</h1>
        <div id="cards">
            <div class="card">
                <SfCard ID="BasicCard">
                    <CardHeader Title="Debunking Five Data Science Myths" />
                    <CardContent Content="Tech evangelists are currently pounding their pulpits about all things AI, machine learning, analytics—anything that sounds" />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
    </Animate>
</div>
<style>
    .card {
    }
</style>

@code {
}
