@page "/"
<Animate Animation="Animations.FadeIn" DurationMs="1000">
    <PageTitle>Index</PageTitle>
    <div style="position:relative; top:80px;">
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </div>
</Animate>